/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5a623;
    padding: 10px 20px;
    color: #fff;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header .nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

/* Container */
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Title */
.title {
    font-size: 28px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Form */
.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: bold;
    color: #555;
}

form input,
form select,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

/* Buttons */

.add-range-btn{
    background-color: #e92214;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.add-prices-btn,
.edit-prices-btn{
    background-color: #f5a623;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


.add-range-btn:hover{
    background-color: #960707;
}

.add-prices-btn:hover,
.edit-prices-btn:hover{
    background-color: #d48820;
}

.button-group .btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-group .btn.red {
    background-color: #d32f2f;
    color: white;
}

.button-group .btn.clear {
    background-color: #666;
    color: white;
}

.price-container {
    background-color: #ffe6c1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}